
*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: hsl(180, 12%, 8%);
    color: hsl(180, 4%, 72%);
}
.nav_main{
    height: 60px;
    padding: 10px;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_main a img{
    width: 25px;
    margin-left: 50px;
}
.nav_main a {
    color: hsl(180, 4%, 72%);
    font-weight: bolder;
    text-decoration: none;
    font-size: 19px;
}
.nav_menu{
    display: flex;
    width: 700px;
    justify-content: space-around;
    margin-right: 50px;
}
.nav_menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    
}.nav_menu ul li{
    margin: 0 30px;
}
.nav_menu ul li a:hover{
    color: hsl(79, 63%, 50%);
}
.nav_button{
    padding: 10px 30px;
    background-color: hsl(79, 63%, 50%);
    width: 120px;
    border-radius: 10px;
}
.nav_button a{
    color: black;
}
.nav_button:hover{
    background-color: hsl(79, 44%, 59%);
    cursor: pointer;
    transform: scale(1.05);
}
.section{
    height: 100vh;
}
#welcome{
    padding: 15px;
    display: flex;
    justify-content: space-around;
}
.section_content h2 {
    font-size: 40px;
    margin-top: 150px;
    font-family: Arial, Helvetica, sans-serif;
}
.section_content h1{
    font-size: 80px;
    margin: 15px 0;
}
.section_content span{
    font-size: 80px;
    color: hsl(79, 63%, 50%);
}
.section_content p {
    margin: 35px 0px;
    font-size: 19px;
}
#aboutUS{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}
.about-container {
    max-width: 800px;
    text-align: center;
    background-color: hsl(180, 12%, 15%);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;background-color: 0.3s ease-in-out;
}
.about-container:hover {
    transform: scale(1.02);
    background-color: hsl(180, 12%, 20%);
}
.about-container h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: hsl(79, 63%, 50%);
    transition: color 0.3s ease-in-out;
}
.about-container h1:hover{
    color: hsl(180, 4%, 85%);
}
.about-container p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 15px;
}
#Store{
  padding: 20px;
  box-sizing: border-box;
}
#Store h1{
    text-align: center;
    font-size: 50px;
  } 
.store-container {
    display: flex;
    justify-content: space-around;
    align-items:center;
    height: 500px;
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    flex-wrap: wrap; */
  }
  
  .store-item {
    background-color: hsl(180, 12%, 15%);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out; background-color: 0.3s ease-in-out;
    width: 25%;
    margin: 10px;
    height: 380px;
  }
  
  .store-item:hover {
    transform: scale(1.05);
    background-color: hsl(180, 12%, 20%);
  }
  
  .store-item img {
    max-width: 100%;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .store-item h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: hsl(180, 4%, 95%);
    transition: color 0.3s ease-in-out;
  }
  
  .store-item h2:hover {
    color: hsl(180, 4%, 85%);
  }
  
  button {
    font-size: 1em;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: hsl(180, 12%, 25%);
    color: hsl(180, 4%, 95%);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: hsl(180, 12%, 30%);
    transform: scale(1.05);
  }
  
#contactUs{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}
.contact-container {
    max-width: 800px;
    width: 100%;
    background-color: hsl(180, 12%, 15%);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.contact-container:hover {
    transform: scale(1.02);
    background-color: hsl(180, 12%, 20%);
}
.contact-container h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: hsl(79, 63%, 50%);
    text-align: center;
    transition: color 0.3s ease-in-out;
}

.about-container h1:hover {
    color: hsl(180, 4%, 85%);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: hsl(180, 4%, 72%);
    transition: color 0.3s ease-in-out;
}

label:hover {
    color: hsl(180, 4%, 80%);
}

input,
textarea {
    font-size: 1em;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid hsl(180, 12%, 25%);
    border-radius: 5px;
    background-color: hsl(180, 12%, 10%);
    color: hsl(180, 4%, 72%);
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

input:focus,
textarea:focus {
    border-color: hsl(180, 12%, 35%);
    background-color: hsl(180, 12%, 12%);
    outline: none;
}

button {
    font-size: 1.2em;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: hsl(180, 12%, 25%);
    color: hsl(180, 4%, 95%);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

button:hover {
    background-color: hsl(79, 63%, 50%);
}